<div class="body">
  <label class="date">Monday, May 8, 2023</label>
  <button class="btn btn-primary publish">Publish</button>
  <div class="bg-gray"><label>Basic watch schedule</label></div>
  <div class="shifts-headings">
    <span class="p-2 mid">MID SHIFT</span>
    <span class="p-2 day">DAY SHIFT</span>
    <span class="p-2 eve">EVE SHIFT</span>
  </div>
  <div class="mid-shift">
    <label class="labels-heading"
      >MID SHIFT<i class="bi bi-moon-fill"></i>
      <div class="center-values"><span>4/4</span></div>
    </label>
    <div class="d-flex flex-direction-row">
      <div class="mb-3 d-flex" style="flex-direction: column;">
        <div class="cards-mid-shift mr-5 mb-2">
          <div
            class="
              text-center
              bg-color-blue
              d-inline-block
              w-50
              h-50px
              text-label
            "
          >
            <label>11 <br />PM</label>
          </div>
          <label class="font-weight">2/2</label>
        </div>

        <div class="cards-mid-shift mr-5 mb-2">
          <div
            class="
              text-center
              bg-color-blue
              d-inline-block
              w-50
              h-50px
              text-label
            "
          >
            <label>12 <br />AM</label>
          </div>
          <label class="font-weight">2/2</label>
        </div>
      </div>
      <div
        class="mb-3 d-flex flex-direction-column"
        style="flex-direction: column;"
        cdkDropListGroup
      >
        <div
          class="d-flex flex-direction-row"
          cdkDropList
          [cdkDropListData]="midShiftData"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            cdkDrag
            class="listitemClass cards-mid-shift mb-2"
            id="imageNo1"
            *ngFor="let data of midShiftData"
          >
            <div class="pl-15 d-inline-block w-50">
              <label>{{ data.time }} <br />{{ data.time1 }}</label>
            </div>
            <label class="positions">{{ data.name }}</label>
            <i class="bi bi-arrows-move"></i>
          </div>
        </div>
        <div
          class="d-flex flex-direction-row"
          cdkDropList
          [cdkDropListData]="midShiftData1"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            cdkDrag
            class="listitemClass cards-mid-shift mb-2"
            id="imageNo3"
            *ngFor="let data of midShiftData1"
          >
            <div class="pl-15 d-inline-block w-50">
              <label>{{ data.time }} <br />{{ data.time1 }}</label>
            </div>
            <label class="positions">{{ data.name }}</label>
            <i class="bi bi-arrows-move"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="day-shift">
    <label class="labels-heading"
      >DAY SHIFT <i class="bi bi-sun-fill"></i>
      <div class="center-values"><span>12/12</span></div>
    </label>
    <div class="mb-3 d-flex flex-direction-row">
      <div class="mb-3 d-flex" style="flex-direction: column;">
        <div class="cards-mid-shift mr-5 mb-2">
          <div
            class="
              text-center
              bg-color-blue
              d-inline-block
              w-50
              h-50px
              text-label
            "
          >
            <label>6 <br />AM</label>
          </div>
          <label class="font-weight">4/4</label>
        </div>

        <div class="cards-mid-shift mr-5 mb-2">
          <div
            class="
              text-center
              bg-color-blue
              d-inline-block
              w-50
              h-50px
              text-label
            "
          >
            <label>7 <br />AM</label>
          </div>
          <label class="font-weight">7/7</label>
        </div>
        <div class="cards-mid-shift mr-5 mb-2">
          <div
            class="
              text-center
              bg-color-blue
              d-inline-block
              w-50
              h-50px
              text-label
            "
          >
            <label>8 <br />AM</label>
          </div>
          <label class="font-weight">1/1</label>
        </div>
      </div>
      <div
        class="mb-3 d-flex flex-direction-column"
        style="flex-direction: column;"
        cdkDropListGroup
      >
        <div
          class="d-flex flex-direction-row"
          cdkDropList
          [cdkDropListData]="dayShiftData"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            cdkDrag
            class="listitemClass cards-mid-shift mb-2"
            id="imageNo1"
            *ngFor="let data of dayShiftData"
          >
            <div class="pl-15 d-inline-block w-50">
              <label>{{ data.time }} <br />{{ data.time1 }}</label>
            </div>
            <label class="positions">{{ data.name }}</label>
            <i class="bi bi-arrows-move"></i>
          </div>
        </div>
        <div
          class="d-flex flex-direction-row"
          cdkDropList
          [cdkDropListData]="dayShiftData1"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            cdkDrag
            class="listitemClass cards-mid-shift mb-2"
            id="imageNo3"
            *ngFor="let data of dayShiftData1"
          >
            <div class="pl-15 d-inline-block w-50">
              <label>{{ data.time }} <br />{{ data.time1 }}</label>
            </div>
            <label class="positions">{{ data.name }}</label>
            <i class="bi bi-arrows-move"></i>
          </div>
        </div>
        <div
          class="d-flex flex-direction-row"
          cdkDropList
          [cdkDropListData]="dayShiftData2"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            cdkDrag
            class="listitemClass cards-mid-shift mb-2"
            id="imageNo3"
            *ngFor="let data of dayShiftData2"
          >
            <div class="pl-15 d-inline-block w-50">
              <label>{{ data.time }} <br />{{ data.time1 }}</label>
            </div>
            <label class="positions">{{ data.name }}</label>
            <i class="bi bi-arrows-move"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="eve-shift">
      <label class="labels-heading"
        >EVE SHIFT <i class="bi bi-sunset-fill"></i>
        <div class="center-values"><span>10/10</span></div>
      </label>
      <div class="mb-3 d-flex flex-direction-row">
        <div class="mb-3 d-flex" style="flex-direction: column;">
          <div class="cards-mid-shift mr-5 mb-2">
            <div
              class="
                text-center
                bg-color-blue
                d-inline-block
                w-50
                h-50px
                text-label
              "
            >
              <label>1 <br />AM</label>
            </div>
            <label class="font-weight">3/3</label>
          </div>

          <div class="cards-mid-shift mr-5 mb-2">
            <div
              class="
                text-center
                bg-color-blue
                d-inline-block
                w-50
                h-50px
                text-label
              "
            >
              <label>2 <br />AM</label>
            </div>
            <label class="font-weight">1/1</label>
          </div>
          <div class="cards-mid-shift mr-5 mb-2">
            <div
              class="
                text-center
                bg-color-blue
                d-inline-block
                w-50
                h-50px
                text-label
              "
            >
              <label>5 <br />AM</label>
            </div>
            <label class="font-weight">5/5</label>
          </div>
          <div class="cards-mid-shift mr-5 mb-2">
            <div
              class="
                text-center
                bg-color-blue
                d-inline-block
                w-50
                h-50px
                text-label
              "
            >
              <label>4 <br />AM</label>
            </div>
            <label class="font-weight">1/1</label>
          </div>
        </div>
        <div
          class="mb-3 d-flex flex-direction-column"
          style="flex-direction: column;"
          cdkDropListGroup
        >
          <div
            class="d-flex flex-direction-row"
            cdkDropList
            [cdkDropListData]="EvngShiftData"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              cdkDrag
              class="listitemClass cards-mid-shift mb-2"
              id="imageNo1"
              *ngFor="let data of EvngShiftData3"
            >
              <div class="pl-15 d-inline-block w-50">
                <label>{{ data.time }} <br />{{ data.time1 }}</label>
              </div>
              <label class="positions">{{ data.name }}</label>
              <i class="bi bi-arrows-move"></i>
            </div>
          </div>
          <div
            class="d-flex flex-direction-row"
            cdkDropList
            [cdkDropListData]="EvngShiftData1"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              cdkDrag
              class="listitemClass cards-mid-shift mb-2"
              id="imageNo3"
              *ngFor="let data of EvngShiftData1"
            >
              <div class="pl-15 d-inline-block w-50">
                <label>{{ data.time }} <br />{{ data.time1 }}</label>
              </div>
              <label class="positions">{{ data.name }}</label>
              <i class="bi bi-arrows-move"></i>
            </div>
          </div>
          <div
            class="d-flex flex-direction-row"
            cdkDropList
            [cdkDropListData]="EvngShiftData2"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              cdkDrag
              class="listitemClass cards-mid-shift mb-2"
              id="imageNo3"
              *ngFor="let data of EvngShiftData2"
            >
              <div class="pl-15 d-inline-block w-50">
                <label>{{ data.time }} <br />{{ data.time1 }}</label>
              </div>
              <label class="positions">{{ data.name }}</label>
              <i class="bi bi-arrows-move"></i>
            </div>
          </div>
          <div
            class="d-flex flex-direction-row"
            cdkDropList
            [cdkDropListData]="EvngShiftData3"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              cdkDrag
              class="listitemClass cards-mid-shift mb-2"
              id="imageNo3"
              *ngFor="let data of EvngShiftData3"
            >
              <div class="pl-15 d-inline-block w-50">
                <label>{{ data.time }} <br />{{ data.time1 }}</label>
              </div>
              <label class="positions">{{ data.name }}</label>
              <i class="bi bi-arrows-move"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="day-off">
      <label class="labels-heading"
        ><i>Staff on RDO</i>
        <div class="center-values"><span>10</span></div>
      </label>

      <div class="mb-3 d-flex flex-direction-row">
        <div id="imageListId1" class="d-flex flex-direction-row">
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">OG</label>
            <i class="bi bi-arrows-move"></i>
          </div>
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">GD</label>
            <i class="bi bi-arrows-move"></i>
          </div>
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">RV</label>
            <i class="bi bi-arrows-move"></i>
          </div>
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">NI</label>
            <i class="bi bi-arrows-move"></i>
          </div>
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">KG</label>
            <i class="bi bi-arrows-move"></i>
          </div>
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">DE</label>
            <i class="bi bi-arrows-move"></i>
          </div>
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">BP</label>
            <i class="bi bi-arrows-move"></i>
          </div>
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">YJ</label>
            <i class="bi bi-arrows-move"></i>
          </div>
          <div class="listitemClass cards-mid-shift mb-2" id="imageNo3">
            <div class="pl-15 d-inline-block w-50">
              <label>RDO</label>
            </div>
            <label class="positions">TK</label>
            <i class="bi bi-arrows-move"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
