/* Add application styles & imports to this file! */

.icon {
  position: relative;
  float: right;
  top: -31px;
  right: 12px;
}
.forms {
  margin: 0px 250px;
}
.float-right {
  float: right;
}
a.btn {
  width: 100%;
  background-color: #dc143c;
  border-color: #dc143c;
}
a.btn:hover {
  background-color: #dc143c;
  border-color: #dc143c;
}
.text-underline {
  text-decoration: underline;
}
.body {
  margin-top: 10px;
}
.mid {
  color: #33b3ff;
}
.day {
  color: #ffae33;
}
.eve {
  color: #ff6c33;
}
.pl-15 {
  padding-left: 15px;
}
.bg-gray {
  background-color: gray;
}
.bg-gray label {
  color: white;
}
.cards-mid-shift {
  border: 1px solid #33b3ff;
  width: 97px;
  font-size: 11px;
  box-shadow: 1px 1px rgb(51 179 255 / 50%);
  border-radius: 4%;
  height: 46px;
  margin-right: 10px;
}
.bg-color-blue {
  background-color: #33b3ff;
}
.mr-5 {
  margin-right: 40px;
}
.positions {
  position: relative;
  top: -12px;
  left: 13px;
  font-weight: bold;
}
.h-50px {
  height: 46px;
}
.text-label {
  color: white;
  padding-top: 5px;
}
.font-weight {
  font-weight: bold;
}
.pl-15 {
  padding-left: 5px;
}
.labels-heading {
  width: 100%;
  background-color: #ccc;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  padding-top: 7px;
  height: 30px;
}
.day-shift .cards-mid-shift {
  border: 1px solid #ffae33;
  box-shadow: 1px 1px rgb(255 174 51 / 50%);
}
.day-shift .cards-mid-shift .bg-color-blue {
  background-color: #ffae33;
}

.eve-shift .cards-mid-shift {
  border: 1px solid #ff6c33;
  box-shadow: 1px 1px rgb(255 108 51 / 50%);
}
.eve-shift .cards-mid-shift .bg-color-blue {
  background-color: #ff6c33;
}
.day-off .cards-mid-shift {
  box-shadow: 1px 1px #ccc;
  border: 1px solid #ccc;
}
.day-off .positions {
  top: 0px;
}
.width-50 {
  width: 50px;
}
.shifts-headings {
  font-size: 12px;
  font-weight: bold;
}
.mid-shift .labels-heading .bi-moon-fill:before {
  color: #33b3ff;
}
.day-shift .labels-heading .bi-sun-fill:before {
  color: #ffae33;
}
.eve-shift .labels-heading .bi-sunset-fill:before {
  color: #ff6c33;
}
.center-values {
  text-align: center;
  position: relative;
  top: -17px;
}
.btn.publish {
  background-color: #ff6c33;
  border-color: #ff6c33;
  margin: 0px 376px;
  width: 100px;
  margin-bottom: 5px;
}
.date {
  padding-left: 50px;
}
.bi-arrows-move {
  position: relative;
  bottom: -9px;
  left: 7px;
}
.day-off .bi-arrows-move {
  bottom: -26px;
}
